apiVersion: apps/v1
kind: Deployment
metadata:
  name: ccms-backend
  namespace: default
  labels:
    app: ccms-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ccms-backend
  template:
    metadata:
      labels:
        app: ccms-backend
    spec:
      containers:
      - name: ccms-backend
        image: chokchaifa/ccms-backend:v1.0.7-d0bfe77 # {"$imagepolicy": "flux-system:ccms-backend"}
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        envFrom:
        - configMapRef:
            name: ccms-backend-config
        - secretRef:
            name: ccms-backend
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
        livenessProbe:
          httpGet:
            path: /health-check
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health-check
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
      restartPolicy: Always
