apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml

commonLabels:
  app.kubernetes.io/name: ccms-backend
  app.kubernetes.io/instance: ccms-backend
  app.kubernetes.io/component: backend
